$text-size-xs: 12px;
$text-size-sm: 14px;

$error: #e5342f;
$loding-color: #00adc4;
$background: "#fff";
$background-dark: #1e5061;

$primary-bg: "#E9EEEF";
$primary: #80a3a7;
$primary-50: #e6f3f0;
$primary-65: #80d2c3;
$primary-75: #97cdc2;
$primary-100: #6cb9a8;
$primary-200: #2d9b83;
$primary-300: #028669;
$primary-400: #015e4a;
$primary-500: #015240;
$primary-dark: #0d2f42;
$primary-grey-color: #9aa1a3;
// =========SECONDARY========

$secondary-20: #ccede7;
$secondary-50: #e9eeef;
$secondary-75: #a3b7be;
$secondary-100: #7d9aa3;
$secondary-200: #446e7c;
$secondary-300: #030404;
$secondary-400: #153844;
$secondary-600: "#444444";
$secondary-500: #00a587;

// NETURAL

$N50: #e6e8e9;
$N75: #9aa1a3;
$N100: #707a7d;
$N200: #324044;
$N300: #08191e;
$N400: #061215;
$N500: #050f12;
$N600: #8c8c8c;
$main-color: #5f5e5e;
// #1E5061
$ownTransition: 0.4s all ease-in-out;
